*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "open sans", sans-serif;
	font-size: 14px;
	line-height: 1.4em;
	min-width: 600px;/*元素最小宽度*/
}

.adminMenuWarp{
	position: relative;
	float: left;
	width: 160px;
	background-color: #222;
}

.adminmenu{
	clear: left;
	margin: 12px 0;
	list-style: none;
	width: 160px;
	background-color: #222;
}

.menu{
	min-height: 34px;/*元素最小高度*/
	cursor: pointer;
}

.menu a{
	padding: 10px 0;
	display: block;
	color: #ffffff;
	text-decoration: none;
	text-indent: 40px;/*规定文本块首行缩进*/
}

a:hover{
	background-color: #000;
	color: cyan;
}